<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- API base urls -->
    <add key="BaseUrl" value="https://api.dropboxapi.com" />
    <add key="ContentUrl" value="https://content.dropboxapi.com" />
    <add key="ApiVersion" value="2" />

    <!-- API Actions & params -->
	<add key="ConfigVersion" value="6.1.1.0" />
    <add key="SearchDefaultLimit" value="1000" />
    <add key="SearchFileCountLimit" value="1000" />
    <add key="SuppressFilenamesInStatus" value="0" />
    <add key="ActionListMembers" value="team/members/list" />
    <add key="ActionListMembersContinuation" value="team/members/list/continue" />  
    <add key="ActionFileSearch" value="files/search" />
    <add key="ActionListFolder" value="files/list_folder" />
    <add key="ActionListFolderContinuation" value="files/list_folder/continue" />
    <add key="ActionSharingListFolders" value="sharing/list_folders" />
    <add key="ActionSharingListFoldersContinuation" value="sharing/list_folders/continue" />
    <add key="ActionSharingListFolderMembers" value="sharing/list_folder_members" />
    <add key="ActionSharingListFolderMembersContinuation" value="sharing/list_folder_members/continue" />
    <add key="ActionSharingRemoveFolderMember" value="sharing/remove_folder_member" />
    <add key="ActionGetGroups" value="team/groups/list" />
    <add key="ActionGetGroupsContinuation" value="team/groups/list/continue" />
    <add key="ActionCreateGroup" value="team/groups/create" />
    <add key="ActionAddMemberGroup" value="team/groups/members/add" />
    <add key="ActionDeleteMemberGroup" value="team/groups/members/remove" />
    <add key="ActionGetGroupInfo" value="team/groups/get_info" />
    <add key="ActionFilesDownload" value="files/download" />
    <add key="ActionAddMember" value="team/members/add" />
    <add key="ActionRemoveMember" value="team/members/remove" />
    <add key="ActionSuspendMember" value="team/members/suspend" />
    <add key="ActionUnsuspendMember" value="team/members/unsuspend" />
    <add key="ActionListTeamDevices" value="team/devices/list_team_devices" />
    <add key="ActionDumpDevices" value="team/devices/revoke_device_session" />
    <add key="ActionGetUsage" value="users/get_space_usage" />
    <add key="ActionGetInfo" value="team/get_info" />
    <add key="ActionGetActivity" value="team/reports/get_activity" />
    <add key="ActionGetDevices" value="team/reports/get_devices" />
    <add key="ActionGetStorage" value="team/reports/get_storage" />  
    <add key="ActionSetProfile" value="team/members/set_profile" />
    <add key="ActionRecoverMember" value="team/members/recover" />
    <add key="ActionActivateTeamFolder" value="team/team_folder/activate" />
    <add key="ActionArchiveTeamFolder" value="team/team_folder/archive" />
    <add key="ActionCreateTeamFolder" value="team/team_folder/create" />
    <add key="ActionListTeamFolder" value="team/team_folder/list" />
    <add key="ActionUpdateDefaultSyncSettingTeamFolder" value="team/team_folder/update_default_sync_setting" />  
    <add key="ActionArchivePaperDocs" value="paper/docs/archive" />
    <add key="ActionPermanentlyDeletePaperDocs" value="paper/docs/permanently_delete" />
    <add key="ActionDownloadPaperDocs" value="paper/docs/download" />
    <add key="ActionListPaperDocs" value="paper/docs/list" />
    <add key="ActionListContinuationPaperDocs" value="paper/docs/list/continue" />
    <add key="ActionGetPaperDocMetadata" value="paper/docs/get_metadata" />
    <add key="ActionAddUsersPaperDocs" value="paper/docs/users/add" />
    <add key="ActionCreatePaperDocs" value="paper/docs/create" />
    <add key="ActionPaperDocFolderInfo" value="paper/docs/get_folder_info" />
    <add key="ActionGetCurrentAccount" value="users/get_current_account" />
    <add key="ActionGetEvents" value="team_log/get_events" />
    <add key="ActionGetEventsContinuation" value="team_log/get_events/continue" />

    <!-- registry handling -->
    <add key="RegistryEntryPoint" value="SOFTWARE\Dropbox Business Toolkit" />
    <add key="RegistryKey" value="Accepted" />

    <!-- default credentials-->
    <add key="DefaultAccessToken" value="ENTER TEAM MEMBER FILE ACCESS TOKEN HERE" />
    <add key="DefaultProvisionToken" value="ENTER TEAM MEMBER MANAGEMENT TOKEN HERE" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>